<div id="company" class="container-fluid" style="padding-top: 5vh">
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
            <div class="row justify-content-center mt-5">
                <div class="col-3">
                    <h3 class="alert alert-primary">Bienvenue chez IQuipment !</h3>
                </div>
            </div>
            <!-- Story -->
            <section id="histoire" class="pt-5">
                <div class="row justify-content-center">
                    <div class="col-lg-3">
                        <div class="">
                            <h3 class="text-primary">Histoire</h3>
                            <hr class="small">
                            <p>Blablablablabla</p>
                        </div>
                    </div>
                </div>

            </section>

            <!-- Présentation entreprise -->
            <section id="entreprise" class="pt-5">
                <div class="row justify-content-center pt-5">
                    <div class="col-lg-3">
                        <div class="">
                            <h3 class="text-primary">Fiabilité</h3>
                            <hr class="small">
                        </div>
                        <p>Optimisation & fiabilité des composants pour que nos produits soient le plus performant et le plus à jour possible.</p>
                    </div>
                    <div class="offset-3 col-lg-3">
                        <div class="">
                            <h3 class="text-primary">Innovation/Qualité</h3>
                            <hr class="small">
                        </div>
                        <p>Recherche & Développement afin que nos produits vous satisfaite pleinement.</p>
                    </div>
            </section>


            <!-- Métiers -->
            <section class="row justify-content-center pt-5" id="occupation">
                <div class="col-lg-3">
                    <div class="">
                        <h3 class="text-primary">Analyse/Conseil</h3>
                        <hr class="small">
                    </div>
                    <p>Analyse de votre besoin ainsi qu'une aide professionnelle afin de trouver le produit idéal pour chacun d'entre vous.</p>
                </div>
                <div class="offset-3 col-lg-3">
                    <div class="">
                        <h3 class="text-primary">Satisfaction</h3>
                        <hr class="small">
                    </div>
                    <p>L'un de nos principals objectifs est la satisfaction de notre clientèle, les plus jeunes comme les plus âgés.</p>
                </div>
            </section>
            <section class="row justify-content-center">
                <div class="col-lg-3">
                    <div class="">
                        <h3 class="text-primary">Service Après-Vente</h3>
                        <hr class="small">
                    </div>
                    <p>Service mis en place en cas de non-satisfaction de tous types de la clientèle avec les produits d'IQuipment.</p>
                </div>
                <div class="offset-3 col-lg-3">
                    <div class="">
                        <h3 class="text-primary">Fidélité</h3>
                        <hr class="small">
                    </div>
                    <p>Recherche permanente afin de vous satisfaire au maximum, que vous soyez un de nos plus anciens client ou un des plus récents.</p>
                </div>
            </section>


            <!-- Maps -->
            <section class="row justify-content-center pt-5" id="contact">
                <div class="col-lg-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d848295.9861393345!2d150.37152490226384!3d-33.846975938661174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney+Nouvelle-Galles+du+Sud%2C+Australie!5e0!3m2!1sfr!2sfr!4v1517584027886" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-lg-12">
                    <h5><a href="mailto:support@iquipment.com">Send Mail</a></h5>
                </div>
                <footer class="footer text-center">
                    <div class="container">
                        <ul class="list-inline mb-5">
                            <li class="list-inline-item">
                                <a class="nav-link fa fa-facebook-square fa-2x" href="#facebook" title="Facebook"></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="nav-link fa fa-twitter-square fa-2x" href="#twitter" title="Twitter"></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="nav-link fa fa-snapchat-square fa-2x" href="#snapchat" title="Snapchat"></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="nav-link fa fa-linkedin-square fa-2x" href="#linked" title="LinkedIn"></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="nav-link fa fa-github-square fa-2x" href="#github" title="GitHub"></a>
                            </li>
                        </ul>
                        <p class="text-muted small mb-0">Copyright <i class="fa fa-copyright fa-lg"></i> IQuipment</p>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>



<!-- Footer/Contact -->


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <a href="#top">
                <i class="fa fa-angle-up fa-5x" title="Menu"></i>
            </a>
        </div>
    </div>
</div>

<!--<?php
  var_dump($_SESSION);
?>-->