<style>
    .thumb-hover {
        background-color: white;
        color: black;
        -webkit-box-shadow: 0px 2px 31px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 31px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 31px 0px rgba(0,0,0,0.75);
        transition: background-color 0s, color 0.5s linear;
    }
    .thumb-hover:hover {
        background-color: grey;
        color: white;
    }
</style>

<div id="company" class="container-fluid" style="padding-top: 5vh">
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
            <div class="row justify-content-center mt-5">
                <div class="col-3">
                    <h3 class="alert alert-primary">Bienvenue chez IQuipment !</h3>
                </div>
            </div>
            <!-- Story -->

            <div class="row">
                <div class="col-12"  style="height: 400px; display: flex; justify-content: center; align-items: center;">

                    <div class="row">


                        <div class="thumb-hover" style="height: 300px; width: 20vw; margin-right: 2vw; display: flex; flex-direction: column">
                            <div style="height: 20%; width: 100%; display: flex; justify-content: center; align-items: center;">
                                <h5>Fiabilité</h5>
                            </div>
                            <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi turpis, interdum at sapien tempus, ornare convallis enim. Donec felis mauris, rutrum et consequat non, consectetur sit amet dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; </p>
                        </div>

                        <div class="thumb-hover" style="height: 300px; width: 20vw; margin-right: 2vw; display: flex; flex-direction: column">
                            <div style="height: 20%; width: 100%; display: flex; justify-content: center; align-items: center;">
                                <h5>Analyse & Conseil</h5>
                            </div>
                            <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi turpis, interdum at sapien tempus, ornare convallis enim. Donec felis mauris, rutrum et consequat non, consectetur sit amet dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; </p>
                        </div>

                        <div class="thumb-hover" style="height: 300px; width: 20vw; margin-right: 2vw; display: flex; flex-direction: column">
                            <div style="height: 20%; width: 100%; display: flex; justify-content: center; align-items: center;">
                                <h5>Service Après-Vente</h5>
                            </div>
                            <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi turpis, interdum at sapien tempus, ornare convallis enim. Donec felis mauris, rutrum et consequat non, consectetur sit amet dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; </p>
                        </div>

                        <div class="thumb-hover" style="height: 300px; width: 20vw; margin-right: 2vw; display: flex; flex-direction: column">
                            <div style="height: 20%; width: 100%; display: flex; justify-content: center; align-items: center;">
                                <h5>Satisfaction</h5>
                            </div>
                            <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi turpis, interdum at sapien tempus, ornare convallis enim. Donec felis mauris, rutrum et consequat non, consectetur sit amet dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; </p>
                        </div>

                    </div>

                </div>
            </div>

            <!-- Maps -->
            <section class="row justify-content-center pt-5" id="contact">
                <div class="col-lg-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d848295.9861393345!2d150.37152490226384!3d-33.846975938661174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney+Nouvelle-Galles+du+Sud%2C+Australie!5e0!3m2!1sfr!2sfr!4v1517584027886" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-lg-12">
                    <h5><a href="mailto:support@iquipment.com">Send Mail</a></h5>
                </div>
                <footer class="footer text-center">
                    <div class="container">
                        <ul class="list-inline mb-5">
                            <li class="list-inline-item">
                                <a class="nav-link fa fa-facebook-square fa-2x" href="#facebook" title="Facebook"></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="nav-link fa fa-twitter-square fa-2x" href="#twitter" title="Twitter"></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="nav-link fa fa-snapchat-square fa-2x" href="#snapchat" title="Snapchat"></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="nav-link fa fa-linkedin-square fa-2x" href="#linked" title="LinkedIn"></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="nav-link fa fa-github-square fa-2x" href="#github" title="GitHub"></a>
                            </li>
                        </ul>
                        <p class="text-muted small mb-0">Copyright <i class="fa fa-copyright fa-lg"></i> IQuipment</p>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>



<!-- Footer/Contact -->


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <a href="#top">
                <i class="fa fa-angle-up fa-5x" title="Menu"></i>
            </a>
        </div>
    </div>
</div>

<!--<?php
  var_dump($_SESSION);
?>-->