<section id="produit" style="padding-top: 10vh">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <div class="row justify-content-center mt-3">
                    <div class="page-header">
                        <h3 class="alert alert-primary">Produits disponibles actuellement :</h3>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="offset-1 col-lg-2">
                        <i class="fa fa-text-width fa-2x"></i>
                        <a class="text-muted"></a>
                        <p>Nom</p>
                    </div>
                    <div class="col-lg-2">
                        <i class="fa fa-comment fa-2x"></i>
                        <a class="text-muted"></a>
                        <p>Description</p>
                    </div>
                    <div class="col-lg-2">
                        <i class="fa fa-th-list fa-2x"></i>
                        <a class="text-muted"></a>
                        <p>Categorie</p>
                    </div>
                    <div class="col-lg-2">
                        <i class="fa fa-usd fa-2x"></i>
                        <a class="text-muted"></a>
                        <p>Prix</p>
                    </div>
                    <div class="col-lg-2">
                        <i class="fa fa-suitcase fa-2x"></i>
                        <a class="text-muted"></a>
                        <p>Stock</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>